.separator-bar {
  margin: auto;
  height: auto;
  width: 1024px;
  border-bottom-width: 1px;
  border-bottom-color: #808080;
  border-bottom-style: solid;
}

.menu-vertical-separator-bar {
  display: inline-block;
  margin: auto;
  height: 32px;
  width: 0px;
  border-left-color: #808080;
  border-left-style: solid;
  border-left-width: 1px;
}
